#title {
    color: rebeccapurple;
}

#titulo {
    color: red;
}

.parrafo {
    background-color: salmon;
}

.parte2  {
    background-color: springgreen;
}

.footer {
 color: turquoise;
}

.final {
color: yellow;
}


